In [1]:
import numpy as np
import pandas as pd

In [2]:
# Завдання 1. Створити функцію, яка приймає два аргументи (число та ступінь), та повертає результат підняття числа до вказаної ступені

def pow_number(number, pow_n):
    return pow(number, pow_n) 


pow_number(5, 5)

3125

In [5]:
# Завдання 2. Написати програму, яка виводить всі парні числа від 1 до 20.

even_numbers = []

for i in range(1, 21):
    if i%2 == 0:
        even_numbers.append(i)
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
# Завдання 3. Створити список чисел від 1 до 10, та вивести його зворотньо.

new_arr = list(range(1, 11))
new_arr.reverse()
print(new_arr)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
# Завдання 4. Написати функцію, яка приймає рядок та повертає кількість унікальних символів у цьому рядку:

def text_length(text):
    new_list = list(text)
    new_set = set(new_list)
    print(len(new_set))


text_length('dsjdfkljsfjsdfjsdfjksjksdfj sdfjskfjksjfskjfskjdf')

7

In [15]:
# Завдання 5. Перевернути массив використовуючи зворотню індексацію.

array = [1, 'user', 10, 300, 500]

rev_array = array[::-1]

print(rev_array)

[500, 300, 10, 'user', 1]

In [20]:
# Завдання 6. Створити словник, який містить дані про книгу (назва, автор, рік видання) та вивести його вміст

book_inf = [{
    "name": "Don Quixote",
    'author': {'Miguel de Cervantes Saavedra', 'Tobias George Smollett'}, 
    'year': 2018},
    {"name": 'Jane Eyre', 
    'author': 'Charlotte Brontë ', 
    'year': 1991
    }]
print(book_inf)

[{'name': 'Don Quixote', 'author': {'Miguel de Cervantes Saavedra', 'Tobias George Smollett'}, 'year': 2018}, {'name': 'Jane Eyre', 'author': 'Charlotte Brontë ', 'year': 1991}]

In [34]:
#  Завдання 7. Написати програму, яка обчислює суму перших 100 натуральних чисел

import random


random_num = [random.randint(-300, 300) for _ in range(300)]  


def sum_hole_numbers(random_num):
    hole_num = []
    for i in random_num:
        if i > 0:
            hole_num.append(i)
    hole_num = hole_num[:100]

    total_sum = 0
    for i in hole_num:
        total_sum+=i
    return total_sum
    


sum_hole_numbers(random_num)


#print(random_num)

15766

In [ ]:
# ВИКОНАТИ ЗАВДАННЯ PANDAS

In [ ]:
# Завдання 1. Створити DataFrame з двох списків (назва книги та автор) та вивести перші 5 рядків:

In [40]:
list_1 = [['Book1', 'Author1'], ['Book2', 'Author2'], ['Book3', 'Author3'], ['Book4', 'Author4']]
list_2 = [['Book5', 'Author5'], ['Book6', 'Author6'], ['Book7', 'Author7'], ['Book8', 'Author8']]
list_2.extend(list_1)
print(list_2)

df = pd.DataFrame(list_2, columns=['Book', 'Author_name'])
df.head()

[['Book5', 'Author5'], ['Book6', 'Author6'], ['Book7', 'Author7'], ['Book8', 'Author8'], ['Book1', 'Author1'], ['Book2', 'Author2'], ['Book3', 'Author3'], ['Book4', 'Author4']]

    Book Author_name
0  Book5     Author5
1  Book6     Author6
2  Book7     Author7
3  Book8     Author8
4  Book1     Author1

In [ ]:
# Завдання 2. Завантажити даних з CSV-файлу та вивести статистику про числові колонки

In [41]:
new_df = pd.read_csv(r"C:\Users\gurzh\Downloads\practice_data.csv")
new_df.describe()

,EmployeeID,Days Present,Task Completion Rates,Interpersonal Skills Rating,Decision-Making Skills Rating,Sales Revenue Generated
count,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000
mean,16.000000,21.322581,77.258065,6.967742,6.354839,75115.741935
std,9.092121,2.286002,9.204954,1.224306,1.330373,14562.137641
min,1.000000,18.000000,60.000000,5.000000,4.000000,51638.000000
25%,8.500000,19.500000,70.000000,6.000000,5.500000,63065.000000
50%,16.000000,21.000000,80.000000,7.000000,7.000000,75795.000000
75%,23.500000,23.000000,85.000000,8.000000,7.000000,86373.000000
max,31.000000,25.000000,95.000000,9.000000,8.000000,97797.000000

In [ ]:
# Завдання 3. Вибрати лише рядки, де значення у колонці "Оцінка" більше 4

new_df[new_df['Оцінка']>4]

In [ ]:
#  Завдання 4. Об'єднати два DataFrames за спільними колонками та вивести результат

new_df = df.merge(df_customer, on='User_id')
new_df

In [ ]:
# Завдання 5. Використати функцію apply для створення нового стовпця на основі умови - У вас є таблиця з оцінками студентів, і вам потрібно створити новий стовпець "Grade" на основі наступних критеріїв: A (90 і вище), B (80-89), C (менше 80). 

df['Grade'] = df['Score'].apply(lambda x: 'C' if (x<80) else 'B' if ((x>=80) & (x<=89)) else  'A')

In [35]:

data = {'Score': [85, 92, 78, 95, 88]}
df = pd.DataFrame(data)

print(df)

   Score
0     85
1     92
2     78
3     95
4     88

A/B test

Завдання 1: Спланувати проведення A/B тесту					
1.	Сформулювати продуктову гіпотезу та мету тесту				
2.	Обрати цільову та допоміжні метрики				
3.	Розрахувати необхідний розмір вибірки та зазначити, яка має бути авдиторія тесту 				
					
Тест 1					
Наш продукт - мобільний застосунок для медитації та дихальних практик. Раніше після першого відкриття ми одразу показували користувачам екран з пропозицією купили платну підписку за $7.99, що розблоковує повний доступ до застосунку, але в новій версії ми хочемо додати кілька екранів онбордингу, щоб краще донести користувачам цінність продукту та що вони отримають з платною підпискою.					
Відомі поточні метрики продукту					
Кількість встановлень застосунку за день					                    2000
Конверсія у відкриття екрану з пропозицією купити підписку					    35%
Конверсія з перегляду екрану з пропозицією купити підписку у першу покупку		14%
ARPU					                                                        $0,67

1. Мета тесту - підвищити конверсію в підписку в новій версії застосунку з декількома екранами онбордінгу.
2. Визначаємо гіпотези:
    - Н0 - нульова гіпотеза: немає статистично значущої різниці між старою та   новою версіями застосунку.
    - Н1 - альтернативна гіпотеза:  різниця між старою та   новою версіями застосунку є статистично значущою.
3. Цільова метрика - це конверсія в підписку.
4. Допоміжні метрики:
    - конверсія з встановлення додатка до перегляду екранів онбордингу
    - конверсія з екранів онбордингу в підписку
    - конверсія проходження онбордінгу - ми аналізуємо відсоток користувачів, які повністю продивились всі екрани онбордінгу
    - відслідковуємо ARPU - чи змінюється ревенью після проходження онбордінгу і підписки
    - середній час. який витрачає користувач на підписку - чи прискорює прийняття рішення про підписку проходження онбордінгу.
5. За допомогою он-лайн калькулятора https://speero.com/ab-test-calculator було розраховано розмір вибірки, тривалість тесту. Було закладено, що наш рівень конверсії на новій версії додатка підвищиться на 20%:
    - історична конверсія в підписку - 4,9%
    - бажаний рівень підвищення  (MDE) - на 20%
    - довірчий інтервал - 95%
    - statistical power - 80%
    - кількість вибірок - 2 (контрольна та тестова)
    - розмір 1 вибірки - 6940 осіб
    - тривалість теста - 7 днів.

Тест 2.
Наш продукт - вебсайт з записаними онлайн-курсами, що доступні за підпискою. Раніше на сайті була доступна тільки одна опція: доступ до усіх курсів за $29.99 на місяць. Ми вирішили протестувати альтернативний формат та додати можливість отримати доступ до курсів лише в одному напрямку за $9.99 на місяць.

1. Мета тесту - підвищити показник метрики ARPU завдяки пропозиції придбати не усі курси, а тільки ті, що цікавлять юзера.
2. Визначаємо гіпотези:
    - Н0 - нульова гіпотеза:  немає статистично значущої різниці між поточним ARPU та  ARPU після нової пропозиції.
    - Н1 - альтернативна гіпотеза:  різниця між поточним ARPU та  ARPU після нової пропозиції  є статистично значущою.
3. Цільова метрика - це ARPU.
4. Допоміжні метрики:
    - ARPРU 
    - retention rate 

   
5. За допомогою он-лайн калькулятора https://speero.com/ab-test-calculator було розраховано розмір вибірки, тривалість тесту. Було закладено, що наш рівень конверсії на новій опції сайту підвищиться на 20%:
    - історична конверсія в підписку - 3,7%
    - бажаний рівень підвищення (MDE) - на 20%
    - довірчий інтервал - 95%
    - statistical power - 80%
    - кількість вибірок - 2 (контрольна та тестова)
    - розмір 1 вибірки - 9190 осіб
    - тривалість теста - 7 днів.

Завдання 2: Проаналізувати результати A/B тесту	

1.	Визначити цільову метрику, оцінити її зміну та стат. значущість зміни				
2.	Визначити допоміжні метрики, оцінити зміни та стат. значущість				
3.	Зробити висновок про результати A/B тесту та описати рекомендації

ТЕСТ 1.

Наш продукт - мобільний застосунок для медитації та дихальних практик. Раніше після першого відкриття ми одразу показували користувачам екран з пропозицією купили платну підписку за $7.99, що розблоковує повний доступ до застосунку, але в новій версії ми хочемо додати кілька екранів онбордингу, щоб краще донести користувачам цінність продукту та що вони отримають з платною підпискою.						
Тестова група: після першого відкриття застосунку користувачам пропонують купити підписку за $7.99						
Контрольна група: після першого відкриття застосунку користувачі проходять онбординг, а потім їм пропонують купити підписку за $7.99						
Результати тесту					                        Control	        Treatment
Кількість користувачів в тесті					            8712	        8693
Кількість користувачів, які відкрили екран з підпискою		3 180	        2 096
Кількість оформлень підписки					            447	            452

Цільова метрика - це конверсія в підписку.
Допоміжна метрика - конверсія з екранів онбордингу в підписку

Розрахуємо статистичну значущість цільової метрики. Оскільки ми описуємо кількість тих, хто підписався як 1, а тих, хто не підписався - 0, то в цьому випадку потрібно використати Z-test.

In [2]:
import pandas as pd
from scipy import stats

test_data = pd.DataFrame(data={'test_group': ['a_test']*8693 + ['b_contr']*8712, 'conversion': [1]*452 + [0]*(8693-452) + [1]*447 + [0]*(8712-447)})

test_data.groupby('test_group').describe()

           conversion
                count      mean       std  min  25%  50%  75%  max
test_group
a_test         8693.0  0.051996  0.222031  0.0  0.0  0.0  0.0  1.0
b_contr        8712.0  0.051309  0.220639  0.0  0.0  0.0  0.0  1.0

In [3]:
from statsmodels.stats.proportion import proportions_ztest

# Кількість тих, хто підписався
conv_A = test_data[test_data['test_group'] == 'a_test']['conversion'].sum()  
conv_B = test_data[test_data['test_group'] == 'b_contr']['conversion'].sum() 

# Разом користувачів в групах
n_A = test_data[test_data['test_group'] == 'a_test']['conversion'].count() 
n_B = test_data[test_data['test_group'] == 'b_contr']['conversion'].count() 

# Z-тест
stat, pvalue = proportions_ztest([conv_B, conv_A], [n_B, n_A], alternative='larger')

print(f"Z-статистика: {round(stat, 2)}")
print(f"P-value: {round(pvalue, 2)}")

alpha = 0.05

if pvalue < alpha:
    print('Нульову гіпотезу відхилено. Різниця є статистично значущою')
else:
    print('Нульова гіпотеза не може бути відхилина. Статистична різниця не є значущою')

Z-статистика: -0.2
P-value: 0.58
Нульова гіпотеза не може бути відхилина. Статистична різниця не є значущою

Також ми маємо дані про кількість користувачів, які дійшли до екрана з підпискою - це наша допоміжна метрика. Ми можемо протестувати, чи є статистично значуща різниця між нашими групами. Отже:

In [5]:
test_data_op = pd.DataFrame(data={'test_group': ['a_test']*2096 + ['b_contr']*3180, 'conversion': [1]*452 + [0]*(2096-452) + [1]*447 + [0]*(3180-447)})

test_data_op.groupby('test_group').describe()


# Кількість тих, хто відкрив екран з підпискою
conv_A = test_data_op[test_data_op['test_group'] == 'a_test']['conversion'].sum()  
conv_B = test_data_op[test_data_op['test_group'] == 'b_contr']['conversion'].sum() 

# Разом користувачів в групах
n_A = test_data_op[test_data_op['test_group'] == 'a_test']['conversion'].count() 
n_B = test_data_op[test_data_op['test_group'] == 'b_contr']['conversion'].count() 

# Z-тест
stat, pvalue = proportions_ztest([conv_B, conv_A], [n_B, n_A], alternative='larger')

print(f"Z-статистика: {round(stat, 2)}")
print(f"P-value: {round(pvalue, 2)}")

alpha = 0.05

if pvalue < alpha:
    print('Нульову гіпотезу відхилено. Різниця є статистично значущою')
else:
    print('Нульова гіпотеза не може бути відхилина. Статистична різниця не є значущою')

Z-статистика: -7.1
P-value: 1.0
Нульова гіпотеза не може бути відхилина. Статистична різниця не є значущою

Рекомендації:
1. Оскільки наш тест показав, що немає статистично значущої різниці між основною та новою версією додатка, то нові зміни не варто впроваджувати. 
2. Замість екрану онбордінгу можна показати, наприклад, що 7,99$ - це вже ціна зі знижкою у 50% і протестувати цей екран.
3. Надати користувачу пробний період для ознайомлення з додатком, потім пропонувати підписку і подивитися, чи зміниться конверсія

ТЕСТ 2.

Наш продукт - вебсайт з записаними онлайн-курсами, що доступні за підпискою. Раніше на сайті була доступна тільки одна опція: доступ до усіх курсів за $29.99 на місяць. Ми вирішили протестувати альтернативний формат та додати можливість отримати доступ до курсів лише в одному напрямку за $9.99 на місяць.						
Тестова група: після реєстрації користувачам пропонується придбати доступ до усіх курсів на платформі за $29.99						
Контрольна група: після реєстрації користувачам пропонується придбати доступ до усіх курсів на платформі за $29.99 або доступ до курсів одного напрямку за $9.99						
Результати тесту					            Treatment           Control	
Кількість користувачів					        13623	            14012
Кількість оформлених підписок за $29.99			411	                420
Кількість оформлених підписок за $9.99						        232
ARPPU користувачів з підпискою за $29.99		$64,48	            $62,68
ARPPU користувачів з підпискою за $9.99						        $27,27

Цільова метрика - це  ARPU.
Допоміжні метрики:

   - ARPPU
   - retention rate

Оскільки тільки користувачі в контрольній групі бачили обидва варіанти підписок , і у нас є дані про кількість підписавшихся на різний варіант, то ми можемо порівняти, яка пропозиція була кращою і також дізнатися, чи є статистична значуща різниця між двома пропозиціями в межах цієї групи. 
Н0 - нульова гіпотеза - немає статистично значущої різниці між двома варіантами підписки
Н1 - альтернативна гіпотеза - різниця між двома варіантами підписки є статистично значущою

In [6]:
conv_option_1 = 420  # Кількість користувачів , які обрали варіант з підпискою за 29,99 на усі курси.
conv_option_2 = 232  # Кількість користувачів , які обрали варіант з підпискою за 9,99 на певний напрямок курсів.

n_total = 14012  # Загальна кількість користувачів у групі 

# Кількість користувачів , які не вибрали кожний варіант
n_option_1 = n_total
n_option_2 = n_total

# Z-тест для двох пропорцій
stat, p_value = proportions_ztest([conv_option_1, conv_option_2], [n_option_1, n_option_2], alternative='two-sided')


print(f"Z-статистика: {stat}")
print(f"P-value: {p_value}")
alpha = 0.05

if p_value < alpha:
    print('Нульову гіпотезу відхилено. Різниця є статистично значущою')
else:
    print('Нульова гіпотеза не може бути відхилина. Статистична різниця не є значущою')

Z-статистика: 7.4498211714346025
P-value: 9.346683697398847e-14
Нульову гіпотезу відхилено. Різниця є статистично значущою

Також ми маємо можливість провести тест між двома групами та виявити, чи є різнця в конверсії між ними.

In [30]:
#test_data = pd.DataFrame(data={'test_group': ['a_test']*13623 + ['b_contr']*14012, 'conversion': [1]*411 + [0]*(13623-411) + [1]*652 + [0]*(14012-652)})

test_data = pd.DataFrame(data={'test_group': ['a_test']*14012 + ['b_contr']*13623, 'conversion': [1]*652 + [0]*(14012-652) + [1]*411 + [0]*(13623-411)})

test_data.groupby('test_group').describe()


# Кількість тих, хто підписався
conv_A = test_data[test_data['test_group'] == 'a_test']['conversion'].sum()  
conv_B = test_data[test_data['test_group'] == 'b_contr']['conversion'].sum() 

# Разом користувачів в групах
n_A = test_data[test_data['test_group'] == 'a_test']['conversion'].count() 
n_B = test_data[test_data['test_group'] == 'b_contr']['conversion'].count() 

# Z-тест
stat, pvalue = proportions_ztest([conv_A, conv_B], [n_A, n_B], alternative='larger')

print(f"Z-статистика: {round(stat, 2)}")
print(f"P-value: {round(pvalue, 2)}")

alpha = 0.05

if pvalue < alpha:
    print('Нульову гіпотезу відхилено. Різниця є статистично значущою')
else:
    print('Нульова гіпотеза не може бути відхилина. Статистична різниця не є значущою')

Z-статистика: 7.07
P-value: 0.0
Нульову гіпотезу відхилено. Різниця є статистично значущою

In [25]:
Users_contr_group = 13623
Paid_users = 411
ARPPU = 64.48
ARPU_contr = (ARPPU*Paid_users)/Users_contr_group
print(f'ARPU in contr group: {round(ARPU_contr, 2)}')

ARPU in contr group: 1.95

In [22]:
Users_test_group = 14012
Paid_users1 = 420
Paid_users2 = 232
ARPPU1 = 62.68
ARPPU2 = 27.27
ARPU_test = (ARPPU1*Paid_users1 + ARPPU2*Paid_users2)/Users_test_group
print(f'ARPU in test group: {round(ARPU_test, 2)}')

ARPU in test group: 2.33

In [23]:
Users_test_group = 14012
Paid_users = 232
ARPPU_new_subscriprion = 27.27
ARPU_test_new_subscriprion = (ARPPU_new_subscriprion*Paid_users)/Users_test_group
print(f'ARPU in control group new subscription: {round(ARPU_test_new_subscriprion, 2)}')

ARPU in control group new subscription: 0.45

Ми бачимо, що ARPU у тестовій групі кращий, ніж у контрольній. А ARPU у контрольній групі серед користувачів, які обрали варіант підписки за 9,99 дуже низький - 0,45.

І цей тест показав, що  різниця між тими, хто бачив один варіант і тими, хто бачив два варіанта підписки є дуже значною.
Рекомендації:
1. Є сенс впроваджувати зміни з пропозицією крім покупки всіх курсів за 29,99 на місяць також покупки курсів за 9,99 одного напрямку. Це показали два тести та розрахунок ARPU. 
2. Натомість, можна спробувати залучити більше користувачів, показуючи екран з пропозицією , що вартість 29,99 - це зі знижкою, наприклад 30-40% та протестувати цю зміну.